.dataTables_filter 
{
  width: 50%;
  float: right;
  text-align: right;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}
.dataTables_filter > label
{
   color:white;
}
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}
thead tr {
  font-family: OpenSans-Regular;
  font-size: 13px;
  color: white;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

#data3  tr.even:hover 
{
  background-color: #ECFFB3;
}

#data3  tr.odd:hover 
{
  background-color: #ECFFB3;
}   
#data4  tr.even:hover 
{
  background-color: #ECFFB3;
}

#data4  tr.odd:hover 
{
  background-color: #ECFFB3;
} 