@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/Support1.css" rel="stylesheet" />*@



<body>

    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row">
                <div class="main_pricing">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="col-sm-8 col-xs-12">
                                <div class="single_left_planig">
                                    <h2>Are you growing independent ?</h2>
                                    <p>Find information on services and support that can help you get there.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End of Support Section -->



    <section id="feature" class="feature">
        <div class="feature_overlay">
            <div class="container">
                <div class="row">
                    <div class="main_feature_content_area">
                        <div class="col-sm-12">
                            <div class="heading_title text-center">
                                <h2>Transportation and Mobility</h2>
                                <p>Programs that can help you move around</p>
                            </div>
                        </div>
                        <div class="main_feature_content text-center">
                            <div class="col-sm-4">
                                <div class="single_feature" style="text-align:center">
                                    <div class="single_feature_img">
                                        <a href="https://services.dhhs.vic.gov.au/nodestatewide-equipment-progam" rel="noopener" target="_blank" style="text-decoration:underline"> <img src="~/Content/images/wheelchair.png" alt="" /></a>
                                       
                                    </div>
                                    @*<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik
                                               </a> from <a href="https://www.flaticon.com/" title="Flaticon">
                                            www.flaticon.com</a> is licensed by
                                        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                                            CC 3.0 BY</a></div>*@

                                    <div class="separator"></div>
                                    <h3>
                                        State-wide equipment program
                                    </h3>
                                </div>
                                <div class="single_feature">

                                    <p>
                                        The Victorian State-wide Equipment Program provides people
                                        with a permanent or long-term disability with subsidised aids
                                        and equipment to enhance independence in their home and facilitate
                                        community participation.
                                        You can find more information in the<a href="https://services.dhhs.vic.gov.au/nodestatewide-equipment-progam"rel="noopener" target="_blank"style="text-decoration:underline"> Victoria State Government</a> website.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="main_feature_content text-center">
                            <div class="col-sm-4">
                                <div class="single_feature" style="text-align:center">
                                    <div class="single_feature_img">
                                        <a href="https://ilcaustralia.org.au/search_category_paths/31" target="_blank" rel="noopener" style="text-decoration:underline">
                                            <img src="~/Content/images/crutch.png" alt="" />
                                        </a>
                                       
                                        @*<div>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">
                                                Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">
                                                www.flaticon.com</a> is licensed by
                                            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                                                CC 3.0 BY</a></div>*@
                                    </div>

                                    <div class="separator"></div>
                                    <h3>Find the right equipment</h3>
                                </div>
                                <div class="single_feature">

                                    <p>
                                        The <a href="https://ilcaustralia.org.au/search_category_paths/31"target="_blank"rel="noopener" style="text-decoration:underline">
                                            Independent Living Centres Australia
                                        </a> has a National Equipment Database that provides information about aids and equipment options across Australia.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="main_feature_content text-center">
                            <div class="col-sm-4">
                                <div class="single_feature" style="text-align:center">
                                    <div class="single_feature_img">
                                        <a href="http://taxi.vic.gov.au/passengers/mptp" rel="noopener" target="_blank" style="text-decoration:underline">
                                            <img src="~/Content/images/taxi.png" alt="" />
                                        </a>
                                        
                                    </div>
                                    @*<div>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">
                                            Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">
                                            www.flaticon.com</a> is licensed by
                                        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                                            CC 3.0 BY</a></div>*@


                                    <div class="separator"></div>
                                    <h3>Transport Assistance</h3>
                                </div>
                                <div class="single_feature">

                                    <p>
                                        <a href="http://taxi.vic.gov.au/passengers/mptp" rel="noopener"target="_blank"style="text-decoration:underline">
                                            The Multi Purpose Taxi Program
                                        </a> assists with the travel needs of people with severe
                                        and permanent disabilities by offering subsidised taxi fares to members.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="feature" class="feature">
        <div class="feature_overlay">
            <div class="container">
                <div class="row">
                    <div class="main_feature_content_area">
                        <div class="col-sm-12">
                            <div class="heading_title text-center">
                                <h2>Community Participation and Integration</h2>
                                <p>Find programs that can help you participate in your community.</p>
                            </div>
                        </div>
                        <div class="main_feature_content text-center">
                            <div class="col-sm-4">
                                <div class="single_feature" style="text-align:center">
                                    <div class="single_feature_img">
                                        <a href="https://services.dhhs.vic.gov.au/community-life-and-jobs" rel="noopener" target="_blank" style="text-decoration:underline">
                                            <img src="~/Content/images/job.png" alt="" />
                                        </a>
                                       
                                    </div>
                                    @*<div>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">
                                            Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">
                                            www.flaticon.com</a> is licensed by
                                        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                                            CC 3.0 BY</a></div>*@

                                    <div class="separator"></div>
                                    <h3>Employability</h3>
                                </div>
                                <div class="single_feature">

                                    <p>
                                        <a href="https://services.dhhs.vic.gov.au/community-life-and-jobs"rel="noopener" target="_blank"style="text-decoration:underline">
                                            The Victoria State Government
                                        </a>
                                        offers several programs that aims to assist young people with a
                                        disability to transition from high school to adult life.
                                        These programs include further education, training and employment.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="main_feature_content text-center">
                            <div class="col-sm-4">
                                <div class="single_feature" style="text-align:center">
                                    <div class="single_feature_img">
                                        <a href="http://www.vewsa.com.au/" rel="noopener" target="_blank" style="text-decoration:underline">
                                            <img src="~/Content/images/basketball.png" alt="" />
                                        </a>
                                       
                                    </div>
                                    @*<div>Icons made by
                                        <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond">
                                            Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">
                                            www.flaticon.com</a> is licensed by
                                        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                                            CC 3.0 BY</a></div>*@

                                    <div class="separator"></div>
                                    <h3>Disability and Sports</h3>
                                </div>
                                <div class="single_feature">
                                    <p>
                                        <a href="http://www.vewsa.com.au/" rel="noopener"target="_blank"style="text-decoration:underline">
                                            The Victorian Electric Wheelchair Sports Association
                                        </a>provides sport and recreational activities for people
                                        who use a powerchair for functional mobility.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="main_feature_content text-center">
                            <div class="col-sm-4">
                                <div class="single_feature" style="text-align:center">
                                    <div class="single_feature_img">
                                        <a href="http://www.peopleoutdoors.org.au/" rel="noopener" target="_blank" style="text-decoration:underline">
                                            <img src="~/Content/images/tent.png" alt="" />
                                        </a>
                                     
                                    </div>
                                    @*<div>Icons made by <a href="http://www.freepik.com" title="Freepik">
                                            Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">
                                            www.flaticon.com</a> is licensed by
                                        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                                            CC 3.0 BY</a></div>*@

                                    <div class="separator"></div>
                                    <h3>Outdoors</h3>
                                </div>
                                <div class="single_feature">
                                    <p>
                                        <a href="http://www.peopleoutdoors.org.au/" rel="noopener"target="_blank"style="text-decoration:underline">
                                            People Outdoors
                                        </a>
                                        is a division of the Australian Camps Association
                                        provides outdoor recreation for people of all ages with physical or intellectual disabilities.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
