body {
    padding-top: 50px;
    background-image: url(/Content/images/Banner7NoContrast.png);
    padding-bottom: 10px;
}

/* Nav-Bar transparent*/
.navbar {
    background: transparent;
}
h3.question {
    color: #42cbf4;
    font-family: fantasy;
}

p.answer {
    font-weight:bold;
    font-family: sans-serif;
}
